
body{
    background: #30d1d9;
    text-align: center;
}








h1{
    color: brown;
    font-size: 40px;
    font-family: cursive;
    border: 5px solid rgb(215, 218, 16);
    padding: 10px;
    margin: 90px;
}